@CHARSET "UTF-8";

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    backgrod-color: #fef5fd;
    color: #333333;
    font-size: 15px;
    line-height: 2;
    font-family: "Hiragino Kaku Gothic Pro", Meiryo, "MS PGothic", Helvetica,
        Arial, sans-serif;
}

#header {
    display: flex;
    height: 10%;
    background-color: #fbe0a2;
}

#header a {
    color: #ff9f40;
    text-shadow: 1px 0 1px #f5b829;
    font-weight: bold;
}

#header_menu {
    padding: 0 0 0 3%;
}

#header_menu h1 a {
    font-size: 35px;
    letter-spacing: 5px;
}

#header_menu a {
    font-size: 20px;
}

#user_name {
    display: inline-block;
    color: #333333;
    padding: 0% 3% 0 0;
    margin-left: auto;
}

#user_name p {
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

#wrapper {
    height: 100%;
}

#content {
    min-height: 80%;
}

.contents {
    margin-left: 3%;
}

#footer {
    width: 100%;
    height: 10%;
    margin: 0 auto;
    background-color: #fbe0a2;
    text-align: center
}

h1 {
    font-weight: 600;
    font-size: 35px;
    display: inline;
}

h1 a {
    color: #eeeeee;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

label {
    font-size: 20px;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #24738e;
}

table, tr, th, td {
    border: 1px solid #cccccc;
}

table {
    width: 80%;
    table-layout: fixed;
}

th {
    width: 26%;
    padding: 10px 2%;
}

td {
    width: 66%;
    padding: 10px 2%;
}

button {
    background-color: #1bc4fc;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid #3a3a3a;
}

.btn a {
    background-color: #1bc4fc;
    color: white;
    font-size: 25px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid #3a3a3a;
}
.reload input {
    background-color: #1bc4fc;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid #3a3a3a;
}
.form {
    padding: 3% 8% 0;
}

.form label {
    font-size: 30px;
    color: white;
    text-shadow: 3px 3px 3px black;
}

.form button {
    font-size: 25px;
}

.reg {
    padding: 0 8% 15%;
}

.reg h2 {
    font-size: 30px;
    margin-bottom: 15px;
    color: white;
    text-shadow: 3px 3px 3px black;
}

.back {
    height: 100%;
    background-image: url(../images/top.png);
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
}

#flush_success {
    width: 20%;
    margin-bottom: 1%;
    color: #155724;
    border: 2px solid #155724;
    background-color: #d4edda;
    font-size: 18px;
    text-align: center;
}

#flush_error {
    width: 97%;
    margin-bottom: 1%;
    color: #721c24;
    border: 2px solid #721c24;
    background-color: #f8d7da;
    font-size: 18px;
}

#error_message {
    font-size: 20px;
    color: red;
}

table#user_list th {
    width: 30%;
    padding: 10px 2%;
}

table#user_list td {
    width: 29%;
    padding: 10px 2%;
}

tr.row1 {
    background-color: #f2f2f2;
}

tr.row0 {
    background-color: #ffffff;
}

select {
    height: 30px;
}

table#menu_list th {
    font-weight: bold;
    padding: 10px 2%;
}

table#menu_list .menu_name {
    width: 20%;
    padding: 10px 2%;
}

table#menu_list .menu_action {
    width: 20%;
}

table#menu_list .menu_date {
    width: 13%;
}

.attention{
    display:inline;
    margin-left:25px;
    color:red;
}
pre {
    font-family: "Hiragino Kaku Gothic Pro", Meiryo, "MS PGothic", Helvetica,
        Arial, sans-serif;
}